@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Alef);
@import url(htps://fonts.googleapis.com/css?family=Alegreya+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Patua+One|Shadows+Into+Light|Tinos:400i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);


a {
    color: #76CFC0
    text-decoration: none;
}

a:hover {
    color: #97C6BE;
}

body {
    background: #dcdcdc;
    color: #576766;
    font: 14px "Open Sans",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    width: 100%;
}

nav {
    display: block;
    background: #469E87;
}

.menu {
    display: block;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    color: #76CFC0;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {
    color: #97C6BE;
    background: #BBE8E1;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    background: #576766;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #469E87;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: white;
    background: #97C6BE;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #97C6BE;
    color: white;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 169px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: white;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #374147;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #374147;
    color: #fff;
    text-decoration: none;
}

a.homer {
    background: #9;
}

@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: #374147;
    }
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,.menu li:hover>a {
        background: #9ca3da;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  length: 80px;

}

#logo {
  left: 10px;
  width:100px;
  /* border: 3px solid #576766; */
  padding: 10px;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  display: block;
  font-size: 35px;
  font-style: normal;
  font-weight: normal;
  padding-top: 120px;
  padding-bottom: 20px;
}
#onTop {
  font-family: 'Archivo Narrow', sans-serif;
    display: block;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    padding-top: inherit;
}
button {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  background-color: #76CFC0;
  width: 20%;
  padding-top: 5px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom:5px ;
}
.Calculate {
  padding-left: 35%;
  padding-top: 20px;
}
#Calculate{
  width: 35%;
}
.butPad {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#answer {
  font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
}
