@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Alef);
@import url(htps://fonts.googleapis.com/css?family=Alegreya+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow|Patua+One|Shadows+Into+Light|Tinos:400i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800);

*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

article,aside,figure,footer,header,hgroup,nav,section {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #76CFC0
    text-decoration: none;
}

a:hover {
    color: #97C6BE;
}

body {
    background: #dcdcdc;
    color: #576766;
    font: 14px "Open Sans",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    width: 100%;
}

nav {
    display: block;
    background: #469E87;
}

.menu {
    display: block;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    font-weight: 600;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    color: #76CFC0;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {
    color: #97C6BE;
    background: #BBE8E1;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    background: #576766;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #469E87;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: white;
    background: #97C6BE;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #97C6BE;
    color: white;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 169px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: white;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    width: 100%;
    padding: 20px 15px;
    background: #374147;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.responsive-menu:hover {
    background: #374147;
    color: #fff;
    text-decoration: none;
}

a.homer {
    background: #9;
}

@media (min-width: 768px) and (max-width: 979px) {
    .mainWrap {
        width: 768px;
    }

    .menu ul {
        top: 37px;
    }

    .menu li a {
        font-size: 12px;
    }

    a.homer {
        background: #374147;
    }
}

@media (max-width: 767px) {
    .mainWrap {
        width: auto;
        padding: 50px 20px;
    }

    .menu {
        display: none;
    }

    .responsive-menu {
        display: block;
    }

    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #fff;
        color: #797979;
    }

    .menu li a:hover,.menu li:hover>a {
        background: #9ca3da;
        color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}













body{
text-align: center;
}
#all {
background-color: #D1D0CE;
padding: 30px 200px;
}
#title-and-body {
background-color: #A9A9A9;
padding: 20px 100px;
border-radius: 5px;
}
.title {
text-align: center;
font-size: 45px;
font-family: sans-serif;
}
/* #sub-title {
font-size: 50px;
text-align: center;
font-family: sans-serif;
padding-bottom: 10px;
margin-top: 0px; */
}
#image-and-text {
background-color: white;
padding: 6px 0px 2px 0px;
border-radius: 3px;
margin-bottom: 25px;
}
.image {
display: block;
margin: auto;
}
/* #image-hedy-lamarr {
width: 98.5%;
padding-top, padding-bottom: 20px; */
}
#image-description {
text-align: center;
margin-top, margin-bottom: 3px;
}
#text-description {
text-align: left;
font-size: 30px;
}
/* #quote {
padding-left, padding-right: 150px;
}
#quote-person {
color: #DCDCDC;
} */
h1 {
  font-family: 'Archivo Narrow', sans-serif;
  display: block;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  width: 1100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
h2 {
  font-family: 'Archivo Narrow', sans-serif;
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/* p {
  font-family: 'Archivo Narrow', sans-serif;
  display: block;
  font-size: 20px;
  font-style: cursive;
  font-weight: lighter;
  width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 50px;
  margin-top: 10px;
} */
#answers {
  font-family:'Archivo Narrow',sans-serif;
  display: block;
  font-size: 20px;
  font-style: cursive;
  font-weight: lighter;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/* #credit {
  font-family: 'Archivo Narrow',sans-serif;
  display: block;
  font-size: 5px;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 5px;
} */
#logo {
  left: 10px;
  width:100px;
  /* border: 3px solid #576766; */
  padding: 10px;

}
#microphone {
  width: 40px;
  height:250px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  length: 80px;

}
#geophysicalText {
  /* background-color: white; */
  height: 40%;
  position: relative;
  top: 0vh;
  z-index: -4;
  padding-top: 20vh;
  text-align: center;
}
#geophysicalOpaque {
  background-color: white;
  position: relative;
  height: 51vh;
  left: 29.9vw;
  width: 82vh;
  top: -55vh;
  z-index: -4;
  opacity: 0.8;
}
#geophysicalPicture {
  opacity: 1;
}
#geophysicalPicture:hover~#geophysicalOpaque {
  z-index: 4;
}
#geophysicalOpaque:hover {
  z-index: 4;
}


/* .leftcolumn {
  float: left;
  width: 65%;
} */
​
/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
​
/* Clear floats after the columns */
.row: after {
  content: "";
  display: table;
  clear: both;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 450px;
  margin-right: 450px;
  margin-bottom: 20px;
}
​
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


/* font-family: 'Shadows Into Light', cursive;
font-family: 'Tinos', serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif; */
